@charset "UTF-8";
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #FF7474;
  border-radius: 10px 0 0 10px;
  margin-right: 10px;
}

.aboutMePage {
  padding: 0 45px;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  margin-left: -100%;
}
.aboutMePage .about-me {
  width: 100%;
  color: #fff;
  height: 90vh;
  font-family: "Montserrat Alternates", sans-serif;
}
.aboutMePage .about-me .up {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 8vh;
}
.aboutMePage .about-me .up h2 {
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 40px;
}
.aboutMePage .about-me .down {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 82vh;
}
.aboutMePage .about-me .down .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMePage .about-me .down .left .blockImage {
  border-radius: 50%;
  background-image: url("../../../public/photo.jpg");
  background-size: cover;
  background-position: center;
  width: 30vw; /* Adjust the size relative to the viewport width */
  height: 30vw; /* Match height to width */
  max-width: 400px; /* Optional: Cap the maximum size */
  max-height: 400px;
}
.aboutMePage .about-me .down .right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
}
.aboutMePage .about-me .down .right h4 {
  font-size: 30px;
}
.aboutMePage .about-me .down .right p {
  font-size: 25px;
}
.aboutMePage .about-me .down .right .colorful {
  background: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%); /* Градієнтний фон */
  -webkit-background-clip: text; /* Вказуємо, що фоновий градієнт застосовується до тексту */
  -moz-background-clip: text;
  background-clip: text;
  color: transparent; /* Зробити текст прозорим */
}
.aboutMePage .info {
  margin-top: 100px;
  width: 100%;
}
.aboutMePage .info h2 {
  text-align: center;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
}
.aboutMePage .info p {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  font-size: 30px;
  margin: 20px 0;
  letter-spacing: 5px;
}
.aboutMePage .info p .red {
  color: #FF7474;
}
.aboutMePage .info p .blue {
  color: #4d4dff;
}
.aboutMePage .info p .yellow {
  color: #fffc41;
}
.aboutMePage .skills {
  width: 100%;
}
.aboutMePage .skills h2 {
  text-align: center;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.aboutMePage .skills p {
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
  margin: 20px 0;
}
.aboutMePage .skills p .red {
  color: #FF7474;
}

/*# sourceMappingURL=about.css.map */
